@import '~bootstrap/scss/bootstrap';

#form-container{
    padding: 1.5rem;
}
label{
    color: white;
}

.col {
    border: black solid 2px;
    border-radius: 10px;
    margin: 6px;
    font-size: 70px;
}

h3{
    text-align: center;
    border: black solid .5px;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#sign_out_btn{
    margin-top: 2px;
    margin-bottom: 2px;
}

h3:hover{
    background-color: rgb(221, 213, 213);
}
.col:hover, .reset-btn:hover{
        background-color: rgb(221, 213, 213);
        margin: 1px;
       cursor: pointer;

}
.X,.O, .gameover{
    pointer-events: none;
    cursor: not-allowed;
}

