@import '~bootstrap/scss/bootstrap';

#form-container{
    padding: 1.5rem;
}
label{
    color: white;
}

.col {
    border: black solid 2px;
    border-radius: 10px;
    margin: 6px;
    font-size: 70px;
}


.col:hover, .reset-btn:hover{
        background-color: rgb(221, 213, 213);
        margin: 1px;
       cursor: pointer;

}

